/* style.css */

/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    line-height: 1.6;
    color: white;
    background: #f4f4f4;
}

header {
    background: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
}

nav a:hover {
    color: #ffc107;
}

main {
    padding: 40px;
    max-width: 1100px;
    margin: 0 auto;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-image: url('portfolioherosection.jpg');
    background-size: auto;

}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}

/* Button Styles */
.btn {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    background: #333;
    text-decoration: none;
    transition: 0.3s;
}

.btn:hover {
    background: #ffc107;
    color: #333;
}

/* Form Styles */
form label, form input, form textarea, form button {
    display: block;
    width: 100%;

    margin-bottom: 10px;
}

form input, form textarea {
    padding: 10px;
    border: 1px solid #ccc;
}

form button {
    background: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    transition: 0.3s;
}

form button:hover {
    background: #ffc107;
    color: #333;
}

/* Responsive Design */
@media (max-width: 768px) {
    main {
        padding: 20px;
    }
    nav a {
        display: block;
        margin: 10px 0;
    }
}